header{
    width: 100vw;
    height: 80vh;
    background:  url('../../images/bg-pattern-intro-desktop.svg'), linear-gradient(to left,hsl(353, 100%, 62%),hsl(13, 100%, 72%));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    border-radius: 0px 0px 0px 50px;
}